<section class="w-screen h-screen p-8 flex flex-col justify-between items-center">
    <div class="mt-48 mb-8">
        <iplex-logo [width]="200"></iplex-logo>
    </div>

    <div class="flex flex-col gap-4">
        <h2>✔️ {{ 'CANCEL_WHENEVER' | translate }}</h2>
        <h2>✔️ {{ 'UNLIMITED_CONTENT' | translate }}</h2>
        <h2>✔️ {{ 'WATCH_WHENEVER' | translate }}</h2>
        <h2>✔️ {{ 'WATCH_PAUSE' | translate }}</h2>
        <h2>✔️ {{ 'AFFORDABLE_PRICE' | translate }}</h2>
    </div>

    <div class="flex items-center gap-4">
        <button [routerLink]="['/login']">{{ 'LOGIN' | translate }}</button>

        <button (click)="selectLanguageLogin()">{{ 'LANGUAGE_DISTRICT' | translate }}</button>
    </div>
</section>

<iplex-language-modal *ngIf="language" (languageLoginOutput)="selectLanguageLogin()"></iplex-language-modal>