<section class="w-screen h-screen p-8 flex flex-col justify-between items-center">
    <div class="mt-48 mb-8 puff-in-center">
        <iplex-logo [width]="200"></iplex-logo>
    </div>

    <menu class="flex flex-col gap-4 fade-in">
        @for (item of listLandingTexts; track $index) {
        <div class="flex gap-2">
            <img src="assets/icons/check.svg">
            <h2>{{ item | translate }}</h2>
        </div>
        }
    </menu>

    <div class="flex items-center gap-4 fade-in">
        <button [routerLink]="['/login']">{{ 'LOGIN' | translate }}</button>

        <button (click)="selectLanguageLanding()">{{ 'LANGUAGE_DISTRICT' | translate }}</button>
    </div>
</section>

<iplex-language-modal *ngIf="language" (languageLoginOutput)="selectLanguageLanding()"></iplex-language-modal>