button {
    cursor: pointer;
    width: fit-content;
    min-width: 10rem;
    height: var(--button-md);
    background-color: var(--color-element);
    padding: 0 1.5rem;
    border-radius: var(--radius-sm);
    border: var(--border-md) solid var(--color-base);
    outline: var(--border-md) solid var(--color-base);
    font-weight: bold;

    &:hover {
        outline-color: var(--color-primary);
    }
}

button:active,
.active {
    background-color: var(--color-primary);
}

.btn {
    &-primary {
        background-color: var(--color-primary);
    }

    &-list {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: auto 1rem;
        background-color: var(--color-base);
        border: var(--border-md) solid var(--color-base);
        outline: var(--border-md) solid var(--color-base);

        img {
            width: 2rem;
            border-radius: var(--radius-xs);
        }

        &:hover {
            outline-color: var(--color-primary);
        }

        &-active {
            background-color: var(--color-primary);
        }
    }

    &-play {
        background-image: url('../assets/icons/play.svg');
        background-repeat: no-repeat;
        background-position: 1rem center;
        background-size: 2rem;
        background-color: var(--color-primary);
        outline: var(--border-md) solid transparent;
        padding-left: 3rem;
    }
}