button {
    cursor: pointer;
    width: fit-content;
    height: var(--button-md);
    background-color: var(--color-element);
    padding: 0 1.5rem;
    border: var(--border-md) solid var(--color-base);
    outline: var(--border-md) solid var(--color-base);
    font-weight: bold;

    &:hover {
        outline-color: var(--color-primary);
    }
}

button:active,
.active {
    background-color: var(--color-primary);
}

.btn {
    &-primary {
        background-color: var(--color-primary);
    }

    &-list {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: .5rem 1rem;
        border: var(--border-md) solid var(--color-base);
        outline: var(--border-md) solid var(--color-base);

        img {
            width: 2rem;
        }

        &:hover {
            outline-color: var(--color-primary);
        }

        &-active {
            background-color: var(--color-primary);
        }
    }
}