:root {
    --color-base: #0F0F0F;
    --color-element: #28292A;
    --color-error: #dc4a46;
    --color-hover: #9333EA;
    --color-icon: #8d96a0;
    --color-input: #28292A;
    --color-overlay: rgba(109, 85, 166, .8);
    --color-primary: #9333EA;
    --color-placeholder: #868686;
    --color-txt: #f1f1f1;
}

.color {
    &-placeholder {
        color: var(--color-placeholder);
    }
}