nav {
    display: flex;
    flex-direction: column;
    gap: .5rem;

    ul {
        display: flex;
        flex-direction: column;
        gap: .25rem;
        flex-wrap: wrap;
        justify-content: space-between;

        li {
            cursor: pointer;
            width: 100%;
            height: var(--button-md);
            display: flex;
            justify-content: start;
            align-items: center;
            gap: 1rem;
            border: var(--border) solid var(--color-base);
            border-radius: var(--radius-sm);
            padding: 0 1rem;

            &:hover {
                background-color: var(--color-primary);
            }
        }
    }
}

.nav-active {
    border-color: var(--color-primary);
}