<section class="w-screen h-screen flex relative bg-destak">
    <div class="w-5/6 h-5/6 max-w-[1600px] max-h-[1024px] m-auto flex bg-base rounded-2xl shadow-2xl">
        <div class="w-1/2 h-full flex justify-center items-center">
            @if (_loginService.stageLogin === 0) {
            <iplex-logo class="w-[300px] scale-in-center"></iplex-logo>
            } @else if(_loginService.stageLogin === 1){
            <img src="assets/images/world-map.png" class="scale-in-center" (error)="_imageService.validateImage($event)">
            } @else if(_loginService.stageLogin === 2){
            <img src="assets/images/login.png" class="scale-in-center" (error)="_imageService.validateImage($event)">
            } @else if(_loginService.stageLogin === 3){
            <img src="assets/images/user.png" class="scale-in-center" (error)="_imageService.validateImage($event)">
            }
        </div>

        <div class="flex p-8 pl-0 flex-1">
            @if (_loginService.stageLogin === 0) {
            <iplex-init-login class="slide-in-right"></iplex-init-login>
            } @else if(_loginService.stageLogin === 1){
            <iplex-language-login class="slide-in-right w-full"></iplex-language-login>
            } @else if(_loginService.stageLogin === 2){
            <iplex-form-login class="slide-in-right"></iplex-form-login>
            } @else if(_loginService.stageLogin === 3){
            <iplex-user-login></iplex-user-login>
            }
        </div>
    </div>
</section>

<iplex-loading *ngIf="_loginService.loading"></iplex-loading>