<form [formGroup]="formLogin" (ngSubmit)="onSubmit()" class="h-full flex flex-col flex-1 justify-between">
    <div class="flex flex-col flex-1 gap-8 justify-center">
        <h3>{{ 'LETS_ADD_ACCOUNT' | translate }}</h3>

        <div [formGroup]="formLogin" (ngSubmit)="onSubmit()" class="flex flex-col">
            <input type="text"  formControlName="user"
                placeholder="{{ 'USER' | translate }}" class="input-top w-full" />

            <p *ngIf="subject && f['user'].errors" class="txt-error mb-4">{{ 'MANDATOTY_USER' | translate }}</p>
            <p *ngIf="subject && errorUser" class="txt-error mb-4">{{ 'USER_NOT_FOUND' | translate }}</p>
        </div>

        <iplex-keyboard (keyboardOutput)="keyboardOutput($event)"></iplex-keyboard>
    </div>

    <div class="flex gap-4">
        <button (click)="_loginService.previousStageLogin()">{{ 'PREVIOUS' | translate }}</button>

        <button class="btn-primary">{{ 'LOGIN' | translate }}</button>
    </div>
</form>